# front
/frontend/jaba script/logs
/frontend/jaba script/*.log
/frontend/jaba script/npm-debug.log*
/frontend/jaba script/yarn-debug.log*
/frontend/jaba script/yarn-error.log*
/frontend/jaba script/pnpm-debug.log*
/frontend/jaba script/lerna-debug.log*
/frontend/jaba script/node_modules
/frontend/jaba script/.DS_Store
/frontend/jaba script/dist
/frontend/jaba script/dist-ssr
/frontend/jaba script/coverage
/frontend/jaba script/*.local
/frontend/jaba script/cypress/videos/
/frontend/jaba script/cypress/screenshots/
/frontend/jaba script/.vscode/*
/frontend/jaba script/!.vscode/extensions.json
/frontend/jaba script/.idea
/frontend/jaba script/*.suo
/frontend/jaba script/*.ntvs*
/frontend/jaba script/*.njsproj
/frontend/jaba script/*.sln
/frontend/jaba script/*.sw?
/frontend/jaba script/*.tsbuildinfo

#back
/backend/main/.venv
/backend/main/.env
/backend/main/Backup-codes-sfedu.netlabai.txt